.header-content {
    margin-bottom: 20px;
}

.header-content h2 {
    margin: 0;
    font-size: 24px;
}

.header-content p {
    color: #777;
    font-size: 14px;
}

.table-responsive {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #2c3e50;
    color: #fff;
}

th, td {
    padding: 12px;
    text-align: left;
}

td {
    border-bottom: 1px solid #eee;
}

tbody tr:hover {
    background: #f9f9f9;
}

/* STATUS */
.ativo {
    color: green;
    font-weight: bold;
}

.inativo {
    color: red;
    font-weight: bold;
}

/* AÇÕES */
td:last-child {
    color: #2980b9;
    cursor: pointer;
    font-weight: bold;
}

td:last-child:hover {
    text-decoration: underline;
}